@charset "ISO-8859-1";

body{
	display: flex;
    justify-content: center;
}

.container{
	width: fit-content;
    padding: 20px;
    border: 2px solid #673ab75e;
    box-shadow: 0px 0px 8px 0px #9c27b078;
    border-radius: 10px;
}

.listOfProducts{
	display: grid;
    justify-content: center;
}

.allProducts{
	border-collapse: collapse;
}

.allProducts > thead > tr > th{
	padding: 10px;
	background-color: #8bc34a69;
	font-size: 24px;
}

.allProducts > tbody > tr > td{
	padding: 10px;
}

tbody tr:nth-child(even){background-color: #ff33cc36;}

.subbtn{
	border: none;
    background: none;
    color: #03a9f4;
    cursor: pointer;
}

form{
	display: flex;
	justify-content: center;
}

.bckHolder{
	    margin-top: 20px;
    text-align: center;
}

.backbtn{
	color: #2196f3;
	background: none;
    border: none;
    cursor: pointer;
}

.message{
	font-size: 16px;
    font-weight: bold;
    background-color: #03a9f429;
    padding: 9px;
}

.error{
	color: red;
}

.success{
	color: green;
}
