@charset "ISO-8859-1";

body{
	display: flex;
    justify-content: center;
}

.container{
	width: fit-content;
    padding: 20px;
    border: 2px solid #673ab75e;
    box-shadow: 0px 0px 8px 0px #9c27b078;
    border-radius: 10px;
}

.header{
	display: grid;
    justify-content: center;
    align-items: center;
}

.header > h1{
	display: flex;
    justify-content: center;
    align-items: center;
}

.header > p{
    display: flex;
    justify-content: center;
}

.listOfProducts{
	display: grid;
    justify-content: center;
}

.allProducts{
	border-collapse: collapse;
}

.allProducts > thead > tr > th{
	padding: 10px;
	background-color: #8bc34a69;
	font-size: 24px;
}

.allProducts > tbody > tr > td{
	padding: 10px;
}

tbody tr:nth-child(even){background-color: #ff33cc36;}

.addClHol{
	text-align: center;
	margin: 10px; 
}

.addClHol a{
	color: #2196f3
}

.viewClaims{
	text-align: center;
	margin: 10px; 
}

.viewClaims a{
	color: #2196f3
}

.hholder{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.heading{
	font-size: 30px;
    font-weight: bold;
    color: #9c27b0;
}

.logout{
	font-size: 14px;
    color: #03a9f4;
    font-weight: bold;
    cursor: pointer;
}